############################
# secrets
############################

.env
.env.*
*.env

############################
# OS
############################

.DS_Store
Thumbs.db

############################
# editors / IDE
############################

.vscode/
.idea/
*.swp
*.swo
*~
*.tmp

############################
# logs
############################

*.log
logs/
log/

############################
# Go
############################

bin/
dist/
build/
out/

*.test
coverage.out
*.coverprofile


############################
# ansible
############################

*.retry
ansible.log

############################
# terraform
############################

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

############################
# misc
############################

tmp/
temp/
.cache/
