# {{ ansible_managed }}

PasswordAuthentication {{ basics_ssh_password_authentication }}
PermitRootLogin {{ basics_ssh_permit_root_login }}
PubkeyAuthentication {{ basics_ssh_pubkey_authentication }}
