[defaults]
inventory           = inventory/hosts.yml
roles_path          = roles
collections_paths   = ~/.ansible/collections
vault_password_file = .vault_pass
force_color         = true
#become_password_file = .become_pass

[ssh_connection]
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining         = true
